*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
deploymentTargetDropDown.xml
render.experimental.xml

*.apk
output.json

*.jks
*.keystore

google-services.json

*.hpof
